<!DOCTYPE HTML>
<html lang="en" ng-app="coffeeEngineModelEditor">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>coffee-engine 3d template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="MainController">
    <div id="ui" class="container">
        <br />
        <div class="row">
            <div class="col-sm-12">
                <input type="text" ng-model="search.name">
                <span class="label label-default" ng-repeat="model in models | filter:search track by model.id" ng-click="loadModel(model)">{{model.name}}</span>
                <span class="label label-default" ng-click="newModel()">+</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <input type="text" ng-model="hash.id" ng-readonly=true>
                <input type="text" ng-model="hash.name">
            </div>
            <div class="col-sm-12">
                <input type="text" ng-model="hash.position.x">
                <input type="text" ng-model="hash.position.y">
                <input type="text" ng-model="hash.position.z">
            </div>
            <div class="col-sm-12">
                <input type="text" ng-model="hash.rotation.x">
                <input type="text" ng-model="hash.rotation.y">
                <input type="text" ng-model="hash.rotation.z">
            </div>
            <div class="col-sm-12">
                <input type="text" ng-model="hash.scale.x">
                <input type="text" ng-model="hash.scale.y">
                <input type="text" ng-model="hash.scale.z">
            </div>
            <!-- this is needed because selected can have position 0 -->
            <div ng-if="selected != undefined">
                <div class="col-sm-12">
                    <select ng-options="type as type for type in allowedTypes" ng-model="hash.models[selected].type">
                    <input type="text" ng-model="hash.models[selected].id" ng-if="hash.models[selected].type == 'json'">
                </div>
                <div class="col-sm-12">
                    <input type="text" ng-model="hash.models[selected].position.x">
                    <input type="text" ng-model="hash.models[selected].position.y">
                    <input type="text" ng-model="hash.models[selected].position.z">
                </div>
                <div class="col-sm-12">
                    <input type="text" ng-model="hash.models[selected].rotation.x">
                    <input type="text" ng-model="hash.models[selected].rotation.y">
                    <input type="text" ng-model="hash.models[selected].rotation.z">
                </div>
                <div class="col-sm-12">
                    <input type="text" ng-model="hash.models[selected].scale.x">
                    <input type="text" ng-model="hash.models[selected].scale.y">
                    <input type="text" ng-model="hash.models[selected].scale.z">
                </div>
                <div class="col-sm-12" ng-show="hash.models[selected].type == 'box'">
                    <input type="text" ng-model="hash.models[selected].material.type">
                    <input type="color" ng-model="hash.models[selected].material.options.color">
                </div>
                <div class="col-sm-12" ng-show="hash.models[selected].type == 'box'">
                    <input type="text" ng-model="hash.models[selected].options.w">
                    <input type="text" ng-model="hash.models[selected].options.h">
                    <input type="text" ng-model="hash.models[selected].options.d">
                </div>
            </div>
            <div class="col-sm-12">
                <span class="label label-default" ng-click="addSubModel()">add</span>
                <span ng-if="selected != undefined" class="label label-default" ng-click="cloneSelectedSubModel()">clone</span>
                <span ng-if="selected != undefined" class="label label-default" ng-click="deleteSelectedSubModel()">delete</span>
            </div>
            <div class="col-sm-12" ng-show="false">
                <textarea class="" ng-model="hashRaw"></textarea>
            </div>
            <div class="col-sm-12 text-center">
                <button class="btn btn-default" ng-click="saveModel()">save</button>
            </div>
        </div>
    </div>

    <!-- for northpole -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/coffee-engine/build/coffee-engine-3d.js"></script>
    <script src="bower_components/threex.domevents/threex.domevents.js"></script>

    <script src="vendor/TransformControls.js"></script>
    <script src="vendor/OrbitControls.js"></script>
    <script src="vendor/jnorthpole.js"></script>
    <script src="vendor/shader.js"></script>

    <script src="JsonModel.js"></script>
    <script src="Utils.js"></script>
    <script src="ModelRepository.js"></script>
    <script src="EditorScene.js"></script>
    <script src="app.js"></script>
  </body>
</html>
