<!DOCTYPE HTML>
<html lang="en" ng-app="coffeeEngineModelEditor">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>coffee-engine 3d template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
  </head>
  <body ng-controller="MainController">
    <div id="ui" class="container">
        <br />
        <div class="row">
            <div class="col-sm-12">
                <input type="text" ng-model="search.name">
                <span class="label label-default" ng-repeat="model in models | filter:search track by model.id" ng-click="load(model)">{{model.name}}</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <textarea class="" ng-model="selectedRaw"></textarea>
            </div>
            <div class="col-sm-12 text-center">
                <button class="btn btn-default" ng-click="save()">save</button>
            </div>
        </div>
    </div>

    <!-- for northpole -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/coffee-engine/build/coffee-engine-3d.js"></script>
    <script src="bower_components/threex.domevents/threex.domevents.js"></script>

    <script src="vendor/TransformControls.js"></script>
    <script src="vendor/OrbitControls.js"></script>
    <script src="vendor/jnorthpole.js"></script>

    <script src="JsonModel.js"></script>
    <script src="Utils.js"></script>
    <script src="ModelRepository.js"></script>
    <script src="EditorScene.js"></script>
    <script src="app.js"></script>
    <script src="keyboardInput.js"></script>
  </body>
</html>
