html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

#ui {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
  border-left: 1px dashed black;
}

.label {
  margin: 5px;
}

textarea {
  height: 400px;
  width: 100%;
}
